*{ box-sizing:border-box; padding:0; margin:0;}
.row::after { content:""; clear:both; display:table;}
[class*="col-"] {float:left; padding:10px;}
.header,.nav,.section,.aside,.footer
{border:1px solid gray; margin:5px; padding:8px; width:1000px;}
.header, .footer{background-color:#D27D32; color:white; padding:10px;}
.header img {width:150%; vertical-align:middle;}
.section{width:750px; float:left;}
.section section{width:725px; float:left;}
.aside{width:221px; float:left; line-height:30px;}
.footer{height:50px; clear:both;}
.nav ul{margin:0; padding:0;}
.nav ul li{display:inline; margin:5px;}
.aside ol {margin:0; padding:0;} {list-style-type:decimal; list-style-position:inside;}
.aside ol li{display:block; margin:5px;}
/* for mobile */
[class*="col-"] {width:100%;}
@media only screen and (min-width:600px) { /* For tablets: */
 .col-t-1 {width:8.33%;} .col-t-2 {width:16.66%;} .col-t-3 {width:25%;} .col-t-4 {width:33.33%;}
 .col-t-5 {width:41.66%;} .col-t-6 {width:50%;} .col-t-7 {width:58.33%;} .col-t-8 {width:66.66%;}
 .col-t-9 {width:75%;} .col-t-10 {width:83.33%;} .col-t-11 {width:91.66%;} .col-t-12 {width:100%;}}
@media only screen and (min-width:768px) { /* For desktop: */
 .col-1 {width:8.33%;} .col-2 {width:16.66%;} .col-3 {width:25%;} .col-4 {width:33.33%;}
 .col-5 {width:41.66%;} .col-6 {width:50%;} .col-7 {width:58.33%;} .col-8 {width:66.66%;}
 .col-9 {width:75%;} .col-10 {width:83.33%;} .col-11 {width:91.66%;} .col-12 {width:100%;}}
